<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HTMLJspJdbcProject</display-name>
  <servlet>
  <servlet-name>Demo</servlet-name>
  <jsp-file>/HTMLJspJdbcProject/src/main/webapp/WEB-INF/pages/Controller.jsp</jsp-file>
  
  <init-param>
  <param-name>url</param-name>
  <param-value>jdbc:mysql:///mobile</param-value>
  </init-param>
  
  <init-param>
  <param-name>user</param-name>
  <param-value>root</param-value>
  </init-param>
  
  <init-param>
  <param-name>password</param-name>
  <param-value>Shanky@123</param-value>
  </init-param>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>Demo</servlet-name>
  <url-pattern>./test</url-pattern>
  </servlet-mapping>
</web-app>