<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
<servlet>

<servlet-name>Demo4</servlet-name>
<servlet-class>in.com.controller.Demo4</servlet-class>

<init-param>
<param-name>name</param-name>
<param-value>shanky</param-value>
</init-param>

<init-param>
<param-name>age</param-name>
<param-value>24</param-value>
</init-param>

<init-param>
<param-name>id</param-name>
<param-value>095</param-value>
</init-param>


</servlet>

<servlet-mapping>
    <servlet-name>Demo4</servlet-name>
    <url-pattern>/qwerty</url-pattern>
  </servlet-mapping>
  
</web-app>