<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="in.com.employee.Employee">  
       <constructor-arg name="eid" value="095"></constructor-arg>
       <constructor-arg name="ename" value="shashank raj"></constructor-arg>
       <constructor-arg name="eage" value="23"></constructor-arg>
    </bean>
  
       <bean class="in.com.employee.Employee">  
       <constructor-arg name="eid" value="093"></constructor-arg>
       <constructor-arg name="ename" value="saurabh sameer"></constructor-arg>
       <constructor-arg name="eage" value="20"></constructor-arg>
      </bean>


</beans>



