<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">

  <servlet>
  <servlet-name>Jdbc</servlet-name>
  <servlet-class>in.jdbc.demo.Jdbc</servlet-class>
  
  <init-param>
  
  <param-name>url</param-name>
  <param-value>jdbc:mysql:///employee</param-value>
  
  </init-param>
  
   <init-param>
  
  <param-name>user</param-name>
  <param-value>root</param-value>
  
  </init-param>
  
  
   <init-param>
  
  <param-name>password</param-name>
  <param-value>Shanky@123</param-value>
  
  </init-param>
  
  </servlet>
  
  <servlet-mapping>
  
  <servlet-name>Jdbc</servlet-name>
  <url-pattern>/Jdbc</url-pattern>
  
  </servlet-mapping>

</web-app>